@font-face {
  font-family: 'FavoritLight';
  src: url('../fonts/ABCFavoritExtended-Light-Trial.eot');
  src: local('ABCFavoritExtended-Light-Trial'),
      url('../fonts/ABCFavoritExtended-Light-Trial.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ABCFavoritExtended-Light-Trial.woff2') format('woff2'),
      url('../fonts/ABCFavoritExtended-Light-Trial.woff') format('woff');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FavoritNormal';
  src: url('../fonts/ABCFavoritExtended-Regular-Trial.eot');
  src: local('ABCFavoritExtended-Regular-Trial'),
      url('../fonts/ABCFavoritExtended-Regular-Trial.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ABCFavoritExtended-Regular-Trial.woff2') format('woff2'),
      url('../fonts/ABCFavoritExtended-Regular-Trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FavoritBold';
  src: url('../fonts/ABCFavoritExtended-Medium-Trial.eot');
  src: local('ABCFavoritExtended-Medium-Trial'),
      url('../fonts/ABCFavoritExtended-Medium-Trial.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ABCFavoritExtended-Medium-Trial.woff2') format('woff2'),
      url('../fonts/ABCFavoritExtended-Medium-Trial.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


