<header class="header">
	<nav class="navigation">
		<div class="navigation__links">
			<div class="navigation__link">
				<a href="#"><span>records</span></a>
				<a href="#"><span>Join discord</span></a>
			</div>
			<div class="navigation__link navigation__link-active">
				<span>experience</span>
			</div>
			<div class="navigation__link">
				<a href="#"><span>drops</span></a>
				<a href="#"><span>Products</span></a>
				<a href="#"><span>Contact</span></a>
			</div>
		</div>
	</nav>
</header>