<main>
	<div class="slider">
		<div class="slider__vector">
			<img src="../images/icon_vector.png">
		</div>
		<div class="slider__slide slider__droplet">
			<div class="slider__description">
				<p class="slider__description_subtitle">NFT</p>
				<p class="slider__description_title">THE DROPLET</p>
				<p class="slider__description_text">Will be announced Soon</p>
				<button class="slider__description_button">JOIN WAITLIST</button>
			</div>
			<div class="slider__droplet_logo">
					<img src="../images/logo_droplets.svg">
			</div>
		</div>
		<div class="slider__player">
			<img  class="slider__player_discord" src="../images/logo_discord.svg">
			<img src="../images/icon_waves.svg">
		</div>
		<div class="slider__nav">
			<div class="slider__nav_arrows">
				<img class="slider__nav_left-arr" src="../images/common_pixel_arrows_icon.svg">
				<img class="slider__nav_right-arr" src="../images/common_pixel_arrows_icon.svg">
			</div>
			<div class="slider__nav_button">
				<img src="../images/common_pixel_nav_cube.svg">
			</div>
		</div>
	<div>
</main>